.navbar {
  display: flex;
  width: 100%;
  padding: 20px 50px;
  height: 50px;
  border-bottom: 1px solid rgb(180, 180, 180);
  align-items: center;
}

.logo {
  flex: 2;
  margin-left: 20px;
}

.logo-img {
  width: 100px;
}

.navbar-main {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

.navbar-links {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 16.5px;
}

.loginSignup {
  font-size: 16.5px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  width: 140px;
  height: 40px;
  border-radius: 10px;
  background-color: #ff1949;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
