.tree {
  margin-left: 60px;
  margin-top: 60px;
}

.tree ul {
  padding-top: 20px;
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  padding-left: 0;
  padding-right: 0;
}

.tree li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding-top: 20px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.tree li::before,
.tree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #808080;
  width: 50%;
  height: 20px;
}
.tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #808080;
}

.tree li:only-child::after,
.tree li:only-child::before {
  display: none;
}

.tree li:only-child {
  padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
  border: 0 none;
}
.tree li:last-child::before {
  border-right: 1px solid #808080;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}
.tree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #808080;
  width: 0;
  height: 20px;
}
.tree-box {
  border: 1px solid #808080;
  text-decoration: none;
  color: #666;
  /* font-family: arial, verdana, tahoma; */
  font-size: 12px;
  display: inline-block;
  /* width: 180px;
  height: 110px; */
  /* width: 120px;
  height: 90px; */
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.tree-box:hover,
.tree-box:hover + ul li .tree-box {
  background: #c8e4f8;
  color: #000;
  border: 1px solid #94a0b4;
}
.tree-box:hover + ul li::after,
.tree-box:hover + ul li::before,
.tree-box:hover + ul::before,
.tree-box:hover + ul ul::before {
  border-color: #ff4747;
}

.tree-elements-inside {
  border: none;
  left: 0;
  top: 5px;
  height: 25px;
  position: relative;
  right: 60px;
  /* width: 100px; */
}

.memberInfo {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #1eb2a6;
}

.info {
  font-weight: 400;
  color: rgb(88, 88, 88);
  margin-left: 10px;
}
